In [6]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [13]:
accidents_data = pd.read_csv("./cleaned_accidents_data.csv")
accidents_data.columns

Index(['Unnamed: 0', 'case_id', 'date', 'state', 'latitude', 'longitude',
       'drunk_drivers', 'fatalities', 'State'],
      dtype='object')

In [15]:
accidents_data.drop(columns="Unnamed: 0",inplace=True)

In [17]:
accidents_data

,case_id,date,state,latitude,longitude,drunk_drivers,fatalities,State
0,10001,2016-01-01,1,33.426458,-86.819731,1,1,Alabama
1,130006,2016-01-01,13,34.062319,-83.926883,1,1,Georgia
2,60381,2016-01-01,6,38.211733,-122.144806,0,1,California
3,340006,2016-01-01,34,40.421111,-74.528842,0,1,New Jersey
4,130005,2016-01-01,13,34.146111,-83.943161,1,2,Georgia
5,130004,2016-01-01,13,31.863611,-81.769889,0,1,Georgia
6,130003,2016-01-01,13,34.221036,-83.902667,0,1,Georgia
7,90013,2016-01-01,9,41.544531,-72.771786,0,1,Connecticut
8,130002,2016-01-01,13,32.345200,-82.250550,0,1,Georgia
9,130001,2016-01-01,13,33.757019,-84.468747,0,1,Georgia
10,460001,2016-01-01,46,44.047528,-103.131203,1,1,South Dakota
11,540001,2016-01-01,54,38.108611,-81.849439,0,1,West Virginia
12,470008,2016-01-01,47,36.273489,-86.718300,0,1,Tennessee
13,130007,2016-01-01,13,32.561339,-84.823906,0,1,Georgia
14,470020,2016-01-01,47,36.096439,-86.877411,0,1,Tennessee
15,120044,2016-01-01,12,30.324581,-81.523061,0,1,Florida
16,470021,2016-01-01,47,35.113694,-89.869622,1,1,Tennessee
17,481651,2016-01-01,48,32.877500,-96.515700,0,1,Texas
18,220095,2016-01-01,22,29.958339,-90.061369,0,1,Louisiana
19,60103,2016-01-01,6,33.127669,-117.102442,0,1,California
20,60072,2016-01-01,6,32.618761,-117.091611,1,1,California
21,10214,2016-01-01,1,34.676647,-85.781961,1,1,Alabama
22,320013,2016-01-01,32,39.552364,-119.812106,0,1,Nevada
23,480001,2016-01-01,48,33.082319,-96.800636,1,1,Texas
24,480002,2016-01-01,48,33.162558,-95.161889,0,2,Texas
25,480003,2016-01-01,48,29.713794,-95.502939,1,1,Texas
26,480004,2016-01-01,48,35.805528,-102.350936,1,1,Texas
27,420057,2016-01-01,42,40.600856,-79.400097,0,1,Pennsylvania
28,480005,2016-01-01,48,30.117078,-94.008322,0,1,Texas
29,60434,2016-01-01,6,33.923719,-118.339592,1,1,California
...,...,...,...,...,...,...,...,...
34409,210745,2016-12-31,21,37.745611,-83.197486,0,1,Kentucky
34410,483457,2016-12-31,48,32.828322,-96.621689,0,1,Texas
34411,483456,2016-12-31,48,31.037481,-104.841561,0,1,Texas
34412,280630,2016-12-31,28,32.726439,-88.992833,0,1,Mississippi
34413,63014,2016-12-31,6,37.946300,-121.300122,1,1,California
34414,62097,2016-12-31,6,34.426594,-117.520908,1,1,California
34415,483400,2016-12-31,48,32.726769,-96.484356,0,1,Texas
34416,340558,2016-12-31,34,40.793319,-74.248750,0,1,New Jersey
34417,340553,2016-12-31,34,39.986361,-75.020383,1,1,New Jersey
34418,483402,2016-12-31,48,32.804747,-97.500775,1,1,Texas
34419,62814,2016-12-31,6,37.964358,-121.335642,0,1,California
34420,63391,2016-12-31,6,33.924519,-117.439094,1,1,California
34421,200378,2016-12-31,20,39.005517,-97.873222,1,1,Kansas
34422,250363,2016-12-31,25,42.287683,-71.106775,0,1,Massachusetts
34423,483425,2016-12-31,48,30.987961,-97.465111,0,1,Texas
34424,63395,2016-12-31,6,37.926997,-121.292994,0,1,California
34425,483426,2016-12-31,48,32.759331,-96.825739,0,1,Texas
34426,63396,2016-12-31,6,34.071089,-117.881328,0,1,California
34427,63397,2016-12-31,6,34.572669,-118.098325,0,1,California
34428,62980,2016-12-31,6,34.059300,-118.257125,0,1,California
34429,483427,2016-12-31,48,31.629731,-96.151689,0,1,Texas
34430,483428,2016-12-31,48,32.457053,-97.802372,1,1,Texas
34431,483429,2016-12-31,48,30.086850,-96.915431,0,2,Texas
34432,483430,2016-12-31,48,32.456450,-95.804500,1,1,Texas
34433,62929,2016-12-31,6,33.903342,-118.221486,0,1,California
34434,483441,2016-12-31,48,29.532325,-95.860206,0,2,Texas
34435,510691,2016-12-31,51,36.659947,-79.875161,0,1,Virginia
34436,510696,2016-12-31,51,36.707417,-77.561628,0,1,Virginia
34437,550545,2016-12-31,55,43.568325,-89.765031,0,1,Wisconsin
34438,360938,2016-12-31,36,40.762839,-73.090753,1,1,New York

In [20]:
accidents_data.dtypes

case_id            int64
date              object
state              int64
latitude         float64
longitude        float64
drunk_drivers      int64
fatalities         int64
State             object
dtype: object

In [16]:
engine = create_engine("sqlite:///accidents.sqlite")
Base = declarative_base()

In [24]:

class CleanAccident(Base):
    __tablename__ = 'CleanedAccident'
    
    id = Column(Integer, primary_key=True)
    case_id = Column(Integer)
    date = Column(Integer)
    state = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    drunk_drivers = Column(Integer)
    fatalities = Column(Integer)
    State = Column(Text)

In [28]:
Base.metadata.create_all(engine)

In [25]:
accidents_dict = accidents_data.to_dict(orient='records')

In [27]:
accidents_dict[0]

{'State': 'Alabama',
 'case_id': 10001,
 'date': '2016-01-01',
 'drunk_drivers': 1,
 'fatalities': 1,
 'latitude': 33.42645833,
 'longitude': -86.81973056,
 'state': 1}

In [28]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [34]:
accidents_table = sqlalchemy.Table('CleanedAccident', metadata, autoload=True)

NoSuchTableError: CleanedAccident